# Prerequisits
*.d

#Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
=======

.*
!.gitignore
*.log
test
test.ppm
src/trs.cpp
src/chrono.cpp
src/cp.cpp
src/tm.cpp

